*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container{
  display: flex;
  height: 100%;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  transition: 2s ease;
}

.product-container:hover{
  width: 140%;
}

.color-filter{
  position: absolute;
  width: 100%;
  height: 100%;
}

.adidas .color-filter{
  background-color: rgba(0, 0, 0, 0.5);
}

.nike .color-filter{
  background-color: rgba(255, 94, 77, 0.5);
}

.product-container.adidas{
  color: white;
  background-image: url('https://images.unsplash.com/photo-1629955299742-22d1c3b3e49a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

.product-container.nike{
  background-image: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

h2,
button{
  z-index: 2;
}

h2{
  font-size: 9vh;
  margin-bottom: 15px;
}

button{
  cursor: pointer;
  width: 30vh;
  height: 10vh;
  font-size: 3vh;
  transition: 0.3s ease;
}

.adidas-button{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.adidas-button:hover{
  background-color: white;
  color: black;
  border: none;
}

.nike-button{
  background-color: black;
  color: white;
  border: 0px;
}

.nike-button:hover{
  opacity: 0.8;
}

@media(max-width: 1024px){
  .container{
    flex-direction: column;
  }

  .product-container{
    height: 50%;
    width: 100%;
  }

  .container .product-container:hover{
    width: 100%;
    height: 70%;
  }
}
